*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body{
    background-color: #2E4053;
}
canvas{
    border: solid 3px;
} 
div {
	
	border-radius: 1em;
    padding: 1em;
    height: 100%;
    background-color: #D5F5E3;

}

.global{
	width: 90%;
	margin: 2em auto;
}
.main{
	width: 100%;
}
.main .canvas-container{
	display: inline-block;
	user-select: none;
	width: 790px;
	height: 440px;
}

.main #todo{
	width: 25%;
	display: inline-block;
	float: right;

}
#c{
	border:1px solid rgb(170,170,170);
	position: absolute;
	width: 80%;
	
	left: 0px;
	top: 100px;
	touch-action:none;
	user-select: none;
	background-color: ;
}
.main .canvas-container .upper-canvas{
	border:7px solid rgb(170,170,170);

	touch-action:none;
	user-select: none;
	cursor: crosshair;
	width: 100%;
}

#todo{
	margin-left: 10px;
	display: inline-block;
	
}
#drawing-mode-options{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	background:#f5f2f0;
	padding: 10px;
	right: 200em;
	width: 90%;
	background-color: #3498DB;
	
}
label{
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	font-family: 'Eater', cursive;
	color: #F1C40F;
}
select option{
	 font-family:'Courgette', cursive;
}

.info{
	display: inline-block;
	width: 0px;
	background:black;
}
#drawing-line-width{
	width: 100px;
}
#clear-canvas{
	
	width: 70px;
	height: 30px;
	margin-top: 2em;
	margin-right: 5em;
	font-family: 'Eater', cursive;
}
#drawing-color , #drawing-shadow-color{
	width: 100px;
}
#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover, #img7:hover{
	filter: saturate(400%);
	-webkit-transform:scale(2.1);transform:scale(1.1);
}
h1{
    text-align: center;
    font-family:'Courgette', cursive;
    color: #2E86C1;
}
h2{
    text-align: left;
    font-family:'Courgette', cursive;
    color: #154360;
}
#container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#containern{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#containern img{
	width: 10%;
}
#container img{
	width: 70%;
}
#container1 {
	display: block;
}
#container2 {
	display: block;
}
#containern1 {
	display: block;
	width: 12%;
}
#containern1 img{
	width: 100%;
}
#containern1 p{
	font-size: 1em;
}
#containern2 {
	display: block;
	width: 12%;
}
#containern2 img{
	width: 100%;
}
#containern2 p{
	font-size: 1em;
}
#containern3 {
	display: block;
	width: 12%;
}
#containern3 img{
	width: 100%;
}
#containern3 p{
	font-size: 1em;
}
#containern4 {
	display: block;
	width: 12.5%;
}
#containern4 img{
	width: 110%;
}
#containern4 p{
	font-size: 1em;
}
#containern5 {
	display: block;
	width: 12.5%;
}
#containern5 img{
	width: 125%;
}
#containern5 p{
	font-size: 1em;
}
#containern6 {
	display: block;
	width: 13%;
}
#containern6 img{
	width: 100%;
}
#containern6 p{
	font-size: 1em;
}
#containern7 {
	display: block;
	width: 12%;
}
#containern7 img{
	width: 100%;
}
#containern7 p{
	font-size: 1em;
}
p{
	font-size: 1.5em;
	font-family: 'Courgette', cursive;
	color: #B7950B;
}
@media screen and (max-width: 480px){
	.canvas-container, .todo{
		display: inline-block;
		width: 48%;
		margin-bottom: 1em;
		margin: 0 auto;

	}
	.lower-canvas, .upper-canvas{
		width: 50px;
		
	}
	.main{
		width: 100%;
	}
	header nav{
		width: 50%;
		margin: 0 auto;
		border: 1px solid  0px 0px 10px #fff;
	    border-radius: 15px;
	  	margin-right: 4.5em;
	}
}