body{
	background-image: url("http://staticf5b.diaadia.info/sites/default/files/styles/landscape_1008_566/public/nota_periodistica/caminera1_0.jpg");
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
.container_c{
	background-color: #F0F3F4;
	text-align: justify;
	width: 600px;
	height: 810px;
	border-radius: 1em;
	padding: 3em;
}
#titulo h2{
	font-family:'Courgette', cursive;
    color: #273746;
    font-size: 1.8em;
}
input{
	background-color: #5499C7;
	width: 300px;
}
b{
	font-family:'Courgette', cursive;
    color: #212F3D;
    font-size: 1.5em;
}
#pregunta1 input{
	height: 7em;
	width: 30em;
}
#button input{
	background-color: #ECF0F1;
	width: 10em;
}