img{
	width: 30em;
	height: 25em;
}
h2{
	color: yellow;
}
body{
	background-image: url("http://staticf5b.diaadia.info/sites/default/files/styles/landscape_1008_566/public/nota_periodistica/caminera1_0.jpg");
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
.container_c{
	background-color: #ECF0F1;
	text-align: justify;
	width: 600px;
	height: 1220px;
	border-radius: 1em;
	padding: 3em;
}
input{
	background-color: #D1F2EB;
	width: 100px;
}
b{
	font-family:'Courgette', cursive;
    color: #212F3D;
    font-size: 1.5em;
}
#button input{
	width: 150px;
	background-color: #F7F9F9;
}
h3{
	font-family:'Courgette', cursive;
    color: #212F3D;
    font-size: 1.5em;	
}
#titulo h2{
	font-family:'Courgette', cursive;
    color: #273746;
    font-size: 1.8em;
}
#titulo h3{
	font-family:'Courgette', cursive;
    color: #273746;
    font-size: 1.8em;	
}
#imagenbc img{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 400px;
	top: 1227px;
}