body{
	background-image: url("https://www.abc.es/media/familia/2017/10/05/educacion-vial-kxIH--620x349@abc.jpg");
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
.container_c{
	background-color: #2E86C1;
	text-align: justify;
	width: 600px;
	height: 640px;
	border-radius: 1em;
	padding: 3em;
}
input{
	background-color: #ECF0F1;
	width: 300px;
}
b{
	font-family:'Courgette', cursive;
    color: #212F3D;
    font-size: 1.5em;
}
h2{
	color: yellow;
}
#button input{
	width: 150px;
	background-color: #F7F9F9;
}
