img{
	width: 1000px;
	height: 500px;
}

#contenedor{
	width: 1000px;
	margin: 30px auto;
	overflow: hidden;
	top: 155px;
	position: relative;
}

#contenedor ul{
	list-style: none;
	width: 4000px;
	display: flex;
	animation: slide 20s infinite alternate;
}


@keyframes slide{
	0% {margin-left: 15px;}
	20% {margin-left: 15px;}

	25%{margin-left: -1080px;}
	45%{margin-left: -1080px;}

	50%{margin-left: -2100px;}
	70%{margin-left: -2100px;}

	75%{margin-left: -3100px;}
	100%{margin-left: -3100px;}
}
body{
	background-image: url("http://lh3.ggpht.com/_mT2zxTIY7s0/Sh3C3XBNz6E/AAAAAAAAPas/pWyjUuV_zAs/w1200-h630-p-k-no-nu/FondosInfantiles.jpg");
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;
	height: 100%;
}




/*
div{
	
	 background-size: 77em;
	margin: 1.5em;
	background-color: #F0F3F4;
	border-radius: 1em;
	padding: 1em;
	height: 25em;


}*/
h1{
	font-family:'Courgette', cursive;
	color: #34495E;
}
h3{
	font-family:'Courgette', cursive;
	color: #154360;	
}
p{
	font-family:'Gloria Hallelujah', cursive;
}
#img1{
	position:absolute;
	top:10em;
	bottom: 22em;
	right: 60em;
	width: 20em;
}
#img2{
	position:absolute;
	top:34em;
	bottom: 22em;
	right: 40em;
	width: 9em;
}
#img3{
	position:absolute;
	top:24em;
	bottom: 22em;
	right: 29em;
	width: 9em;
}
#img4{
	position:absolute;
	top:50em;
	bottom: 22em;
	right: 4em;
	width: 20em;
}

#l2{
	top: 5em;
}

